/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: #3e2719;
}

.logo-img {
  width: 200px;
  height: auto;
}

/***** KATEGORI SIDE *****/

#link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.category-body {
  padding: 1rem;
}

#link-container a {
  color: #3e2719;
  font-family: "Oswald", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: none;
  border-radius: 5px;
  border-color: #3e2719;
  border-width: 1px;
  border-style: solid;

  font-size: 1.2rem;
  height: 5rem;
}

#link-container a:hover {
  border-color: #cfd9e4;

  border-width: 2.5px;
  border-style: solid;

  color: #3e2719;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-family: "Oswald", sans-serif;
  color: #3e2719;
}

/***** PRODUKT LISTE KNAPPER *****/
.sorter-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sorterBtn {
  padding: 10px 20px;
  background-color: #cfc69a;
  border-radius: 5px;
  border: none;

  width: 163px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #3e2719;
}
.sorterBtn:hover {
  background-color: #b9b188;
}

.filterBtn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  background-color: #dde6ed;
  border-radius: 5px;
  border: none;

  width: 163px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #3e2719;
}
.filterBtn:hover {
  background-color: #cfd9e4;

  color: #3e2719;
}

.filter-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

/***** PRODUKT LISTE *****/
.product-list-body {
  padding: 1rem;
}
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.product-image {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;

  transition: transform 0.3s ease;
}
.product-image:hover {
  transform: scale(1.02);
}

/* Info */
.product-info {
  padding-top: 20px;
}

p {
  font-size: 14px;
  color: rgb(122, 113, 113);
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.price {
  font-size: 16px;
  color: #000;
}

.sale {
  margin: 5px 0;
  font-size: 16px;
  color: rgb(191, 48, 48);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.price-sale {
  font-size: 16px;
  text-decoration: line-through;
}

.image-wrapper {
  position: relative;
}

/* Fade KUN udsolgte */
.is-soldout img {
  opacity: 0.5;
}

/* Sold out box*/
.sold-out {
  position: absolute;
  top: 20px;
  left: 20px;

  color: rgb(255, 255, 255);
  padding: 15px 25px;
  font-size: 24px;

  background: #3e271997;
}

/***** PRODUKT SIDE *****/
.product-body {
  padding: 1rem;
  margin-left: 1rem;
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.product-detail-image {
  width: 80%;
}

h2.product-name {
  text-align: left;
  font-size: 28px;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  color: #3e2719;
}

.product-type,
.product-category,
.product-price,
.stock {
  text-align: left;
  font-size: 20px;
  color: #3e2719;
  margin-bottom: 1rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #dde6ed;
  color: #3e2719;
  border-radius: 5px;
  width: 170px;

  font-family: "Oswald", sans-serif;
  color: #3e2719;
}
.back-btn:hover {
  background-color: #cfd9e4;
}

.buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  padding: 10px 20px;
  background-color: #cfc69a;
  color: #3e2719;
  border-radius: 5px;
  border: none;
  width: 170px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #3e2719;
}
.buy-btn:hover {
  background-color: #b9b188;
}
/***** PRODUKTLISTE SORTERING KNAPPER *****/
.no-products h2 {
  font-size: 24px;
  color: #3e2719;
  margin-top: 2rem;
  font-family: "Oswald", sans-serif;
}
.no-products p {
  font-size: 16px;
  color: #3e27198e;
  margin-top: 1rem;
  font-family: "Oswald", sans-serif;
}

/***** SLUT *****/

@media (max-width: 800px) {
  #link-container {
    grid-template-columns: 1fr 1fr;
  }

  .category-list {
    grid-template-columns: 1fr 1fr;
  }

  .product-list {
    grid-template-columns: 1fr 1fr;
  }

  .product-detail {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .product-detail img {
    display: block;
    margin: 0 auto;
  }

  .product-body {
    margin-left: 0;
  }
}
